.img-main-dashboard {
  background: linear-gradient(
      0deg,
      rgba(18, 4, 122, 0.268),
      rgba(18, 4, 122, 0.367)
    ),
    url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Mumbai_03-2016_114_Airport_international_terminal_interior.jpg/1200px-Mumbai_03-2016_114_Airport_international_terminal_interior.jpg);
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  border-radius: 30px;
}
.heading {
  line-height: 4rem;
}
