.container-card {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: auto; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
  width: 302px;
  height: 410px;
  border-radius: 15px;
}
.flight-text {
  margin-left: 48px;
  font-size: 13px;
  color: rgb(139, 136, 132);
}
#cubeLink {
  height: 305px;
  margin: 15px 13px;

  border-radius: 13px;
}

#eye {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: -40%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#cube {
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

#cube:hover {
  opacity: 90%;
}

#ethAndDays {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  margin: -4px 0;
}

#ethPlusIcon > svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
#eth {
  color: hsl(0, 0%, 0%);
  /* font-weight: 600; */
  display: inline-block;
  vertical-align: middle;
}

#clockPlusDays {
  margin-left: -30px;
}

#clockPlusDays > svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

#days {
  display: inline-block;
  vertical-align: middle;
  color: rgb(0, 83, 199);
}

#mainName {
  color: white;
  margin-left: 1px;
  text-decoration: none;
}
